.mainBoard {
    margin: 0 auto;
    padding: 20px;
    width: inherit;
    height: inherit;
}

.light_mainBoard {
    background-color: white;
    color: black;
}

.dark_mainBoard {
    background-color: gray;
    color: white;
}

.header {
    position: relative;
    margin-bottom: 30px;
}

.options {
    display: grid;
    grid-template-columns: 170px 150px 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 30px;
}

.opItem {
    padding: 0 10px;
}

.today {
    text-align: right;
}

.today span:hover {
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}

.year {
    width: 100%;
}

.yearItem {
    display: inline-block;
    width: 33%;
}

.months {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 5px;
    justify-items: center;
}

.prev {
    text-align: right;
}

.prev span:hover {
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}

.next {
    text-align: left;
}

.next span:hover {
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}

.currentYear {
    text-align: center;
    cursor: default;
}
